.NavbarLogo {
    display: flex;
    flex-direction: row;
}

.navbarTitle {
    font-size: 24px;
    color: rgb(10, 10, 134);
    font-weight: 600;
    display: flex !important;
    align-items: center;
}

.navbarIcon {
    width: 3rem !important;
    height: 3rem !important;
    display: flex !important;
    align-items: center;
}

hr {
    width: 100%;
    border-style: solid;
    color: gray;
}